html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

p{
    line-height: 1.5;
}


/* HEADER */
header{
    max-width: 100%;
    background-image: url('img/jumbo.png');
    background-position: center;
    background-size: cover;
}

.header-container{
    max-width: 70%;
    min-height: 503px;
    margin: auto;
}

nav{
    padding-top: 16px;
}

nav img, ul{
    float: left;
}

nav ul{
    padding: 7px 0 0 165px;
}

nav button{
    float: right;
    background-color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 12px;
}

nav ul li{
    float: left;
    padding-right: 35px;
    list-style: none;
    color: white;
    font-size: 14px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.header-container .header_text-container{
    width: 70%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: white;
}

.header-container .header_text-container h1{
    padding-bottom: 40px;
    font-size: 50px;
}

.header-container .header_text-container p{
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

.header-links > a{
    padding: 12px 20px;
    border-radius: 50px;
} 

.header-links a:first-child{
    color: black;
    background-color: white;
    margin-right: 25px;
}

.header-links a:last-child{
    background-color: black;
}

a > strong{
    font-size: 20px;
    font-family: 'Roboto';
    vertical-align: middle;
} /* PERCHè DEVO FARE COSì ALTRIMENTI NON MI PRENDE IL BOLD??????*/


/* MAIN */

.section-container{
    max-width: 70%;
    min-height: 609px;
    margin: auto;
}

.section-container > img{
    max-width: 70%;
    padding-top: 90px;
}

.img-left{
    float: left;
    padding-right: 120px;
}

.img-right{
    float: right;
    padding-left: 120px;
}

.section_text-container{
    max-width: 28%;
    padding-top: 115px;
}


.section_text-container{
    float: left;
}

.section_text-container > h1{
    font-size: 40px;
    padding-bottom: 20px;
}

/* section 4 */

.section-container_4{
    min-height: 980px;
    text-align: center;
}

.section-container_4 > img{
    width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
}

.title-section_4{
    padding-top: 171px;
}

.download > h2{
    background-image: url(img/stars.svg);
    width: fit-content;
    margin: auto;
    padding: 30px 30px 50px 30px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.download > a{
    padding: 12px 20px;
    border-radius: 50px;
    background-color: #8FA1E1;
    color: white;
}

.section:nth-child(2n+2){
    background-color: #f6f6f6;
}

/* FOOTER */

footer{
    max-width: 100%;
    min-height: 540px; 
    background-color: #23272A;
}

.footer-container{
    max-width: 70%;
    min-height: 540px;
    margin: auto;
}

[class^="col-"]{
    width: 17%;
    float: left;
    color: white;
}

.col-1 > h2{
    color: #8FA1E1;;
    padding-bottom: 20px;
}

.col-1{
    width: 30%;
    padding-right: 100px;
}

.col-1 .language select{
    background-color: transparent;
    border: none;
    margin-bottom: 15px;
    color: white;
}

.col-1 .language img{
    width: 20px;
}

.col-1 .social-media a{
    padding-right: 20px;
}

[class^="col-"] > h4{
    color: #8FA1E1;;
    padding-bottom: 10px;
}

[class^="col-"] ul li{
    font-size: 14px;
    padding-bottom: 12px;
}

.footer-row_1{
    padding: 50px 0 30px 0;
    border-bottom: 1px solid #8FA1E1;;
    margin-bottom: 30px;
}

.footer-row_2 > a{
    float: right;
    padding: 7px 12px;
    border-radius: 30px;
    background-color: #8FA1E1;
    color: white;
    font-size: 14px;
}




/* DEBUG 

.header-container, .section-container, .section-containr_4, .footer-container{
    border: 2px solid yellowgreen;
}

[class^="col-"]{
    border: 1px solid white;
}

.footer-row_1, .footer-row_2{
    border: 3px solid red;
} 


nav.{
    border: 1px solid black;
} */